extends ../layouts/default
block js
    script(src='https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.5/ace.js', type='text/javascript', charset='utf-8')
block js-footer
    script(src="/js/custom-logic/playgame.js")
block css
    style(type='text/css').
        //- #editor {
        //- position: absolute;
        //- top: 50px;
        //- right: 0;
        //- bottom: 0px;
        //- left: 400px;
        //- font-size: 20px;
        //- }

        #myCanvas{
            margin: 10px 10px 10px 10px;
            width: 380px;

        }
        .map-header, .instruction-header{
            width: 100%;
            font-size: 20px;
            text-align: center;
            background-color: rgba(39, 40, 34, 0.07);
        }

        .ranking-section, .run-container{
            
            margin-bottom: 10px;
        }

        #instruction{
            font-size: 17px;
            padding: 10px 10px 10px 10px;
        }

        div.fixed {
            min-height: 100px;
            position: fixed;
            z-index: 1000;
            top: 300px;
            left: 400px;
            width: 300px;
            border: 1px solid #e4e4e4;
            background-color: #fff  ;
            opacity: 0.6;
            filter: alpha(opacity=60); /* For IE8 and earlier */
        }
        #instructions-text {
            width: 460px;
            left: 67px;
            position: absolute;
            text-align: center;
            margin-top: 85px;
            top: 42px;
        }

block content
    script.
        var mapTemplate = !{JSON.stringify(mapTemplate)};
        var mapID = !{JSON.stringify(mapID)};
        var shouldShowTimer = !{JSON.stringify(shouldShowTimer)};
        var gameResult = !{JSON.stringify(gameResult)};
        var hostIP = !{JSON.stringify(hostIP)};

    #rankingModal.modal.fade
        .modal-dialog
            .modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                    h3.modal-title.text-center Ranking Table
                .modal-body
                    h5.text-center #{mapTemplate.name}
                    table#tblGrid.table.table-striped
                        thead#tblHead
                            tr
                                th User
                                th Time To Finish
                        tbody#rankingTableBody
                            tr
                                td Long Island, NY, USA
                                td 3
                            tr
                                td Chicago, Illinois, USA
                                td 5
                .modal-footer
                    button.btn.btn-default(type='button', data-dismiss='modal') Close
            // /.modal-content
        // /.modal-dialog


    #instructions-modal.modal.fade.middle.drop.in(data-backdrop="static" data-keyboard="false")
        .modal-dialog
            .modal-content
                .modal-body
                    #load-bar-container
                        .konvajs-content(role='presentation', style='position: relative; width: 520px; height: 60px;')
                            canvas(width='520', height='60', style='padding: 0px; margin: 0px; border: 0px; background: transparent; position: absolute; top: 0px; left: 0px; width: 520px; height: 60px;')
                    img#instructions-bg(alt='Bg', src='https://d2j5eocv5gptnv.cloudfront.net/assets/instructions/bg.png')
                    div#instructions-text
                        | This is an instruction text
                    center
                        .row(style='padding:30px;')
                            .div.col-xs-4(style='padding:2px;')
                                button#my-replay-btn.col-xs-12.btn.btn-default(type='button') Reset
                            #next-game-btn-ctn.div.col-xs-4(style='padding:2px;')
                                button#my-next-game-btn.col-xs-12.btn.btn-default(type='button') Next game
                            .div.col-xs-4(style='padding:2px;')
                                button#my-view-ranking-table-btn.col-xs-12.btn.btn-default(type='button') Ranking table

    .fixed#variable-game-notify(style='display:none')
        h1#variable-game-result
        p#valueSum
        p#wordSum
        p#correctValueSum
        p#correctWordSum
    .fixed#noti-message(style='display:none')
        h1#noti-message-header
        p#noti-message-content
    //- .left-panel(style="width: 400px;font-family: monaco,Consolas,'Lucida Console',monospace;")
    //-     .map-header
    //-         | Playing game
    //-     center(style="margin-top:10px")
    //-         h2 #{mapTemplate.name}
           
    //-     center(style="margin-top:4px")
    //-         a.btn.btn-info#ranking-btn(style="margin-right:5px;display:inline-block;width:150px" )="Ranking Table"
    //-         img#alarm(src='/img/alarm.gif', style='display:inline-block;width:60px;height:60px;')
    //-         a.btn.btn-info#timer(style="margin-left:5px; display:inline-block;width:150px")
    //-     //- img#game-map(src="http://phaser.io/content/tutorials/coding-tips-005/pacman-game.png" )
    //-     canvas#myCanvas(width='400', height='400', style='border:1px solid #c3c3c3;')
    //-         | Your browser does not support the canvas element.
    //-         //- img#robot(src='http://i.imgur.com/PQ3BaPr.png', style='display:none')
    //-         img#robot(src='http://img.sj33.cn/uploads/allimg/200911/20091113222757169.png', style='display:none')
    //-         img#obstacle(src='http://i.istockimg.com/file_thumbview_approve/16563023/3/stock-illustration-16563023-decorative-stone-wall.jpg', style='display:none')
    //-         //- img#endFlag(src='https://upload.wikimedia.org/wikipedia/commons/d/d5/Red_flag_waving_transparent.png', style='display:none')
    //-         img#endFlag(src='https://ice3x.co.za/wp-content/uploads/2013/10/finish-flag-256.png', style='display:none')
    //-         //- img#background(src='/images/map.png', style='display:none')
    //-         img#background(src='https://i.imgsafe.org/68be9a4516.png', style='display:none')
                
    //-         img#letter(src='http://www.bomastone.com/sites/all/themes/bydesign/images/mailto.png', style='display:none')
    //-         img#arrowdown(src='http://cdn.mysitemyway.com/etc-mysitemyway/icons/legacy-previews/icons-256/simple-red-glossy-icons-arrows/009582-simple-red-glossy-icon-arrows-arrow-solid-down.png', style='display:none')
    //-         img#arrowup(src='http://cdn.mysitemyway.com/etc-mysitemyway/icons/legacy-previews/icons-256/simple-red-glossy-icons-arrows/009585-simple-red-glossy-icon-arrows-arrow-solid-up.png', style='display:none')
    //-         img#arrowright(src='http://cdn.mysitemyway.com/etc-mysitemyway/icons/legacy-previews/icons/simple-red-glossy-icons-arrows/009584-simple-red-glossy-icon-arrows-arrow-solid-right.png', style='display:none')
    //-         img#arrowleft(src='http://cdn.mysitemyway.com/etc-mysitemyway/icons/legacy-previews/icons/simple-red-glossy-icons-arrows/009583-simple-red-glossy-icon-arrows-arrow-solid-left.png', style='display:none')
    .container-fluid
        .row
            .col-xs-12.col-sm-4.left-panel(style="font-family: monaco,Consolas,'Lucida Console',monospace;")
                .map-header
                    | Playing game
                center(style="margin-top:10px")
                    h2 #{mapTemplate.name}
                   
                center(style="margin-top:4px")
                    a.btn.btn-info#ranking-btn(style="margin-right:5px;display:inline-block;width:150px" )="Ranking Table"
                    img#alarm(src='/img/alarm.gif', style='display:inline-block;width:60px;height:60px;')
                    a.btn.btn-info#timer(style="margin-left:5px; display:inline-block;width:150px")
                //- img#game-map(src="http://phaser.io/content/tutorials/coding-tips-005/pacman-game.png" )
                center
                    canvas#myCanvas(width='400', height='400', style='border:1px solid #c3c3c3;')
                        | Your browser does not support the canvas element.
                        //- img#robot(src='http://i.imgur.com/PQ3BaPr.png', style='display:none')
                        img#robot(src='http://img.sj33.cn/uploads/allimg/200911/20091113222757169.png', style='display:none')
                        img#obstacle(src='http://i.istockimg.com/file_thumbview_approve/16563023/3/stock-illustration-16563023-decorative-stone-wall.jpg', style='display:none')
                        //- img#endFlag(src='https://upload.wikimedia.org/wikipedia/commons/d/d5/Red_flag_waving_transparent.png', style='display:none')
                        img#endFlag(src='https://ice3x.co.za/wp-content/uploads/2013/10/finish-flag-256.png', style='display:none')
                        //- img#background(src='/images/map.png', style='display:none')
                        img#background(src='https://i.imgsafe.org/68be9a4516.png', style='display:none')
                            
                        img#letter(src='http://www.bomastone.com/sites/all/themes/bydesign/images/mailto.png', style='display:none')
                        img#arrowdown(src='http://cdn.mysitemyway.com/etc-mysitemyway/icons/legacy-previews/icons-256/simple-red-glossy-icons-arrows/009582-simple-red-glossy-icon-arrows-arrow-solid-down.png', style='display:none')
                        img#arrowup(src='http://cdn.mysitemyway.com/etc-mysitemyway/icons/legacy-previews/icons-256/simple-red-glossy-icons-arrows/009585-simple-red-glossy-icon-arrows-arrow-solid-up.png', style='display:none')
                        img#arrowright(src='http://cdn.mysitemyway.com/etc-mysitemyway/icons/legacy-previews/icons/simple-red-glossy-icons-arrows/009584-simple-red-glossy-icon-arrows-arrow-solid-right.png', style='display:none')
                        img#arrowleft(src='http://cdn.mysitemyway.com/etc-mysitemyway/icons/legacy-previews/icons/simple-red-glossy-icons-arrows/009583-simple-red-glossy-icon-arrows-arrow-solid-left.png', style='display:none')                    
                .run-container
                    center
                        .row(style='padding:5px;')
                            .div.col-xs-6(style='padding:3px;')
                                button.col-xs-12#run-btn(type="button" class="btn btn-warning")="RUN"
                                button.col-xs-12#reset-btn(type="button", class="btn btn-warning", style="display:none")="RESET"
                            .div.col-xs-6(style='padding:3px;')
                                button.col-xs-12#read-tutorial-btn(type="button", class="btn btn-success")="READ TUTORIAL"
                .instruction-header
                    | Instruction
                #instruction
                    .instruction-content
            .col-xs-12.col-sm-8
                #editor #{initialCode}
            


    script.
        var editor = ace.edit("editor");
        document.getElementById('editor').style.fontSize='20px';
        editor.setTheme("ace/theme/monokai");
        editor.getSession().setMode("ace/mode/python");

        //editor.setValue(); // or session.setValue
        editor.getValue(); // or session.getValue


        editor.commands.addCommand({
            name: 'myCommand',
            bindKey: {win: 'Ctrl-M',  mac: 'Command-M'},
            exec: function(editor) {
                alert("dm");
                //...
            },
            readOnly: true // false if this command should not apply in readOnly mode
        });
        function resizeAce() {
          return $('#editor').height($(window).height());
        };
        //listen for changes
        $(window).resize(resizeAce);
        //set initially
        resizeAce();
