extends ../layouts/default
block js
    script(src='https://code.highcharts.com/highcharts.js')
    script(src='https://code.highcharts.com/modules/data.js')
    script(src='https://code.highcharts.com/modules/drilldown.js')
block js-footer
    script(src="/js/custom-logic/userAnalytic.js")

block content
    script.
        var language = "";
        var section2Subs = !{JSON.stringify(userData.section2.submissions)};
        $(document).ready(function(){
            $("button").click(function(){
                var e = document.getElementById("language");
                language = e.options[e.selectedIndex].value;
                if (language == "Python"){
                    $("#progression_head").empty();
                    var newHead = "<tr><th>L-Map</th><th>L-Map-Variable</th><th>If-else</th><th>Finding treasure</th></tr>";
                    $("#progression_head").append(newHead);

                    $("#progression_body").empty();
                    var d = {
                    "L-Map":"Not started", 
                    "L-Map-Variable":"Not started", 
                    "If-else":"Not started", 
                    "Finding treasure":"Not started"
                    };
                    for (var i in section2Subs){
                        var sub = section2Subs[i];
                        if (sub.language == "python"){
                            var isSuccess = sub.isSuccess;
                            var map = sub.mapName;
                            if (isSuccess)
                                d[map] = "Completed";
                            else if (d.map == "Not started")
                                d[map] = "Incompleted";
                        }
                    }
                    var newRowContent = "<tr><td>"+d["L-Map"]+"</td><td>"+d["L-Map-Variable"]+"</td><td>"+d["If-else"]+"</td><td>"+d["Finding treasure"]+"</td></tr>";
                    $("#progression_body").append(newRowContent);
                    } else{
                    $("#progression_body").empty();
                    $("#progression_head").empty();
                    var newHead = "<tr><th>This language is not available at this moment!</th></tr>";
                    $("#progression_head").append(newHead);
                    }
            });
        });
        var submissionDataForSection1 = !{JSON.stringify(userData.section1.submissions)};

    - var section3Subs = userData.section3.submissions
    .container
        div.row#section1
            h2 Overall Statistics
            .col-xs-12
                h2#nosubmissions_h2.text-center(style='display:none')
                    | You have no submissions
                #overall_stat_piechart_container


        div.row#section2
            h2 Your progression
            <div class="form-group">
            <label for="Language">Select language</label>
            <select class="form-control" id="language">
            <option value="Python" selected="selected">Python</option>
            <option value="Java">Java</option>
            <option value="C++">C++</option>
            <option value="JavaScript">JavaScript</option>
            </select>
            </div>
            <button>Select this language</button>
            <div id="1">
            table.table.table-striped
                <thead id = "progression_head"></thead>
                <tbody id = "progression_body"></tbody>
            </div>
            <ul id="list"></ul>

        div.row#section3
            if (section3Subs.length > 0)
                h2 Submissions
                
                table.table.table-striped
                    thead
                        tr
                            th Time
                            th Game
                            th Language
                            th Status
                            th Code
                    tbody
                        each sub, i in section3Subs
                            tr
                                td #{moment(sub.time).format("Do MMM YYYY hh:mm:ss a")}

                                td #{sub.mapName}
                                td #{sub.language}
                                td 
                                    if (sub.isSuccess)
                                        | Completed
                                    else
                                        | Not completed
                                td 
                                    a(href=sub.codeUrl) Link to code

                    

        div.row#section4
    

            
